#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}


.video-player {
  width: 800px;
  height: 800px;
}

.video-player video {
  width: 100%;
  height: 80%;
  background-color: black;
  display: block;
  text-align: center;
}

.video-player .control-bar {
  width: 100%;
  height: 10%;
  line-height: 10%;
}